h1 {
	color: mediumseagreen;
    /*background-color: lightblue;*/
    text-align: center;
    font-size: 14px;
    height: 150px;
    width: 300px;
    /*background-image: url("logo.png");*/


}
body{
    background-image: url("logo.png");

}
button {
   height: 30px;
   width: 70px;
   background: none;
   color: #313131;
   border: 1px solid #313131;
   border-radius: 50px;
   font-size: 12px;
   cursor: pointer;
   /*padding-right: 20px;*/
   /*transform: translateX(-100%);*/
    /*transition: transform 1s;*/
}
form {
    padding-top: 20px;
}
input {
    height: 30px;
    width: 300px;
    border-radius: 60px;
    padding-bottom: 10px;
    -webkit-appearance: textfield;
    box-sizing: border-box;

}
span + span {
    margin-left: 10px;
}
.register-button {
    color: red;
}